In [1]:
import nltk

In [3]:
nltk.download()

showing info https://raw.githubusercontent.com/nltk/nltk_data/gh-pages/index.xml

True

In [2]:
import pandas as pd
import numpy as np
import string

In [3]:
sms = pd.read_csv("sms.csv",encoding="ISO-8859-1")     
sms.head()

   no result                                                sms
0   1    ham  Go until jurong point, crazy.. Available only ...
1   2    ham                      Ok lar... Joking wif u oni...
2   3   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3   4    ham  U dun say so early hor... U c already then say...
4   5    ham  Nah I don't think he goes to usf, he lives aro...

In [4]:
del sms["no"]

In [5]:
sms.dropna(inplace=True)

In [6]:
sms.head()

  result                                                sms
0    ham  Go until jurong point, crazy.. Available only ...
1    ham                      Ok lar... Joking wif u oni...
2   spam  Free entry in 2 a wkly comp to win FA Cup fina...
3    ham  U dun say so early hor... U c already then say...
4    ham  Nah I don't think he goes to usf, he lives aro...

In [7]:
sms["sms"] =  sms["sms"].apply(lambda x: ''.join([word  for word in x if word not in string.punctuation]))

In [8]:
sms.head()
from nltk.corpus import stopwords ##stopword removal
stop = stopwords.words('english')

In [9]:
sms["sms"]= sms["sms"].apply(lambda x : ' '.join([w for w in x.split() if w not in stop]) )

In [10]:
sms["sms"] = sms["sms"].apply(lambda x : x.lower())
sms.head()

  result                                                sms
0    ham  go jurong point crazy available bugis n great ...
1    ham                            ok lar joking wif u oni
2   spam  free entry 2 wkly comp win fa cup final tkts 2...
3    ham                u dun say early hor u c already say
4    ham      nah i dont think goes usf lives around though

In [14]:
sms.dropna(inplace=True)

In [19]:
sms.reset_index(inplace = True)

In [20]:
from nltk.tokenize import word_tokenize 
from nltk.stem import WordNetLemmatizer 
  
lemmatizer = WordNetLemmatizer() 
for i in range (sms.shape[0]): 
  sents=sms["sms"].loc[i] ## every sentence taken from DF
  words=nltk.word_tokenize(sents)## every word is tokenized
  words=[lemmatizer.lemmatize(word) for word in words] ## every word is stemmed
  sms["sms"].loc[i]=' '.join(words) ## word is joined back to the sentence

sms.head()

C:\Users\Yashwanth.S\Anaconda3\lib\site-packages\pandas\core\indexing.py:189: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self._setitem_with_indexer(indexer, value)

   index result                                                sms
0      0    ham  go jurong point crazy available bugis n great ...
1      1    ham                            ok lar joking wif u oni
2      2   spam  free entry 2 wkly comp win fa cup final tkts 2...
3      3    ham                u dun say early hor u c already say
4      4    ham         nah i dont think go usf life around though

In [21]:
X= sms["sms"]
Y= sms["result"]

In [22]:
Y=Y.replace(to_replace =["spam", "ham"],  
                            value =[1,0])

In [25]:
from sklearn.feature_extraction.text import CountVectorizer
CV= CountVectorizer()
from sklearn.model_selection import train_test_split
X1= Bagofword(X)
xtrain,xtest,ytrain,ytest= train_test_split(X1,Y,test_size=0.2,random_state=45)

In [26]:
def Bagofword(rain):
    desert = CV.fit_transform(rain)
    return desert

In [27]:
ytrain.shape

(4377,)

In [28]:
xtrain

<4377x8891 sparse matrix of type '<class 'numpy.int64'>'
	with 40380 stored elements in Compressed Sparse Row format>

In [29]:
from sklearn.linear_model import LogisticRegression
lr =LogisticRegression()
lr.fit(xtrain,ytrain)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [30]:

yhat = lr.predict(xtest)

In [31]:
from sklearn.metrics import accuracy_score
print(accuracy_score(ytest,yhat)*100)

98.44748858447488

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer
tfidf = TfidfVectorizer()
def teffie(arra):
    X2=tfidf.fit_transform(arra)
    return X2

In [33]:
X22 = teffie(X)
xt,xte,yt,yte = train_test_split(X22,Y,test_size=0.2,random_state=32)

In [34]:
from sklearn.svm import SVC
cls= SVC()
cls.fit(xt,yt)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
  decision_function_shape='ovr', degree=3, gamma='auto', kernel='rbf',
  max_iter=-1, probability=False, random_state=None, shrinking=True,
  tol=0.001, verbose=False)

In [35]:
yhat1 = cls.predict(xte)

In [36]:
from sklearn.metrics import accuracy_score
print(accuracy_score(yte,yhat1)*100)

86.57534246575342

In [37]:
lr.fit(xt,yt)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [38]:
yhat2 = lr.predict(xte)

In [39]:
from sklearn.metrics import accuracy_score
print(accuracy_score(yte,yhat2)*100)

95.06849315068493